In [1]:
#tuples
#creating and indexing a tuple

my_tup_1=(1,2,3,4,5,2,2,2)
print(my_tup_1)

#indexing and slicing
print(my_tup_1[::2])
print(my_tup_1[2])

#Check immutability
#print(my_tup_1.add(2))#error observed

#tuple methods
print(my_tup_1.count(2))
print(my_tup_1.index(3))

#nested tuples
my_tup_2=(1,2,3,(4,5,'apple'),5,6)
print(my_tup_2)

#tuple unpacking
a,b,*c=(1,2,3,4,6)
print(a,',',b,',',c)

(1, 2, 3, 4, 5, 2, 2, 2)
(1, 3, 5, 2)
3
4
2
(1, 2, 3, (4, 5, 'apple'), 5, 6)
1 , 2 , [3, 4, 6]

In [2]:
#dictionary
#create dictionary,access and update values
my_dict_1={'name':'freddy',
           'age':20}
print(my_dict_1)
print(my_dict_1['name'])
my_dict_1['name']='freak'
print(my_dict_1)
my_dict_1['salary']=20000
print(my_dict_1)

#remove item
my_dict_1.pop('age')
print(my_dict_1)
my_dict_1.popitem()
print(my_dict_1)

#update
my_dict_1.update({'salary':20000,'job':'AI&ML dev'})
print(my_dict_1)
my_dict_1.update({"salary": 20000, "course": "ML"})
print(my_dict_1)

#nested dictionries
my_dict_2={'freddy':{'name':'freddy',
                    'age':20,
                     'salary':15000},
           'freak':{'name':'freak',
                    'age':23,
                    'salary':20000}
           }
print(my_dict_2['freddy']['salary'])

print(my_dict_1|my_dict_2)

#looping through dictionaries(comprehension)
#printing square numbers
my_dict_3={x:x**2 for x in range(6)}
print(my_dict_3)

#set default values
my_dict_4={}
my_dict_4.setdefault("value",0)
my_dict_4["value"]+=1
print(my_dict_4)

{'name': 'freddy', 'age': 20}
freddy
{'name': 'freak', 'age': 20}
{'name': 'freak', 'age': 20, 'salary': 20000}
{'name': 'freak', 'salary': 20000}
{'name': 'freak'}
{'name': 'freak', 'salary': 20000, 'job': 'AI&ML dev'}
{'name': 'freak', 'salary': 20000, 'job': 'AI&ML dev', 'course': 'ML'}
15000
{'name': 'freak', 'salary': 20000, 'job': 'AI&ML dev', 'course': 'ML', 'freddy': {'name': 'freddy', 'age': 20, 'salary': 15000}, 'freak': {'name': 'freak', 'age': 23, 'salary': 20000}}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{'value': 1}